torch
timm>=1.0.30
transformers>=4.51,<5
accelerate
albumentations>=2,<3
opencv-python-headless>=4.9,<5
pydicom
pylibjpeg
pylibjpeg-libjpeg
pylibjpeg-openjpeg
pandas
numpy
scikit-learn
tqdm
psutil
torch-ema
